name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Clojure
        uses: DeLaGuardo/setup-clojure@10.3
        with:
          cli: latest

      - name: Run tests
        run: clj -M:test -e "(require 'loan-api.domain-test) (clojure.test/run-tests 'loan-api.domain-test)"
